/* Style the admonitions. */
.admonition {
    overflow-x: scroll;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: left;
}

.admonition.note {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.admonition.warning {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
}

.admonition.danger {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.admonition-title {
    font-weight: bold;
    text-align: left;
}

@font-face {
  font-family: 'GTWalsheim';
  src: url('../fonts/GTWalsheim.eot');
  src: url('../fonts/GTWalsheim.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GTWalsheim.woff2') format('woff2'),
       url('../fonts/GTWalsheim.woff') format('woff'),
       url('../fonts/GTWalsheim.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.navbar-custom{
    background-color:#000;
    font-size:18px;
    font-family:'GTWalsheim';
}

/*
When we are in the small device boot strap category 20px is too big! reduce the size
*/
@media(min-width:767px) and (max-width:991px)  {

}


h1,h2{
    margin-top: 60px !important;
}
h2{
    padding-bottom:10px;
    border-bottom: 1px solid #ddd;
}
h3,h4,h5,h6{
    margin-top: 30px !important;
}
h5{
    font-size:17px;
}
h4{
    font-size:25px;
}

.nav-bar {
    min-height: 94px !important;
}

.navbar-nav > li > a {
    padding-top:25px !important;
    padding-bottom:25px !important;
}
.navbar {
    min-height:50px !important
}

/*
Hackily override permanent link default styles, to add a micro:bit twist!
*/
/* .headerlink{
    content:"";
    background-image: url("../img/permalink.png");
    background-size:cover;
    color:transparent !important;
    padding-left: 0.68em;
} */

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

code{
    white-space: pre !important;
}

.centered-cell {
    text-align: center;
    vertical-align: middle;
}

.cell-hover>tbody>tr>td:hover, .table-hover>tbody>tr>td:hover{
    background-color: #f5f5f5!important; // Or any colour you like
}

@-moz-document url-prefix() {
    /* Firefox doesn't respect max-width in certain situations */
    img { width: 100%; max-width: -moz-max-content !important; }
}

.img-icon a img
{
    max-height:80px;
    width:auto;
}
